.container{
color: white;
}

/* --------------SECTION HEADING------------ */
.heading{
    font-size: 36px;
    font-weight: bold;
    padding: 0 15px;
}
.introWrapper{
    padding-top: 56px;
    margin-top: 24px;
    width:70%;
    margin: auto;
    
}

.textWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;

}

.introText{
    font-size: 24px;
    width:90%;
    text-align:left;
}

.imageWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.introImage{
    border-radius: 50%;
    width: 60%;  
}


.box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: reactIcon 7s infinite linear;
    font-size: 36px;
}

@keyframes reactIcon {
    0% {
        transform: rotate(0deg)
            translateY(100px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
            translateY(100px) rotate(-360deg);
    }
}

/* ---------------------RESUME BUTTON STYLING---------------------------------- */

.resumeBtnContainer {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    align-items: center;
    gap: 10px;
}

.btnStyle {
    border-radius: 4px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 36%, rgba(36,36,40,1) 51%);
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 6px 10px 6px 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btnStyle span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btnStyle span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btnStyle:hover span {
    padding-right: 25px;
  }
  
  .btnStyle:hover span:after {
    opacity: 1;
    right: 0;
  }

/* -------------------------------------------------------------------------------------- */


@media all and (max-width : 840px){
    .imageWrapper{
        width:80%;
    }

    .introWrapper{
        padding-top: 56px;
        margin-top: 24px;
        width:90%;
        margin: auto;
    }

    .introText{
        align-items: justify;
        width:100%;
        text-align: justify;
        word-spacing: -2px;
    }

    .introImage{
        border-radius: 8px;
        width: 80%;
        margin-top: -48px;
    }
  }


  @media all and (max-width : 431px){

    .container{
        height: auto;
    }

    .introText{
        width: 90%;
        text-align: justify;
        font-size: 14px;
    }

    .imageWrapper{
        width:80%;
        margin: auto;
    }

    .introImage{
        border-radius: 8px;
        width: 80%;
        display: block;
        margin-top: 0;
    }

    .btnStyle {
        font-size: 12px;
        padding: 6px 4px 6px 4px;
        width: 100px;
        margin: auto;
      }
  }

  