
.container{
    display: flex;
    margin-top: 36px;
    align-items: center;
    height: 100vh;
    width:90%;
    margin: auto;
}

/* .line {
text-align: left;
padding-left: 150px;
} */

.text {
    color:#fdfdfd;
    font-size: 56px;
    font-family: "Rubik",sans-serif;
    margin: 0rem;
    margin: auto;
    font-weight: bold;
    /* border: 1px solid #a8ec13; */
    text-align: left;
    padding-left: 80px;
    width:60%;
}

.imgDivWrapper{
    width:50%;
}

.portfolioImg{
    border-radius: 50%;
    width:64%;
    margin:auto;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  .animate-flicker {
     -webkit-animation: flickerAnimation 4s infinite;
     -moz-animation: flickerAnimation 4s infinite;
     -o-animation: flickerAnimation 4s infinite;
      animation: flickerAnimation 4s infinite;
  }


  @media all and (max-width : 992px) and (min-width:686px){
    .container{
      height: auto;
      margin-top: 80px;
      padding: 0;
      height: 50vh;
      border:1px solid #a8ec13;
    }
    .text{
        font-size:42px;
        padding-left: 24px;
        margin-left: 0;
        font-weight: 700;
        border:1px solid #a8ec13;

    }
  }


  @media all and (max-width : 685px){
    .container{
      display: flex;
      flex-direction: column;
      height: auto;
      border:1px solid white;
      margin-top: 80px;
      padding: 0;
    }
    .text{
        font-size:18px;
        padding-left: 24px;
        margin-left: 0;
        font-weight: 500;
        border:1px solid white;

    }

    .imgDivWrapper{
      width: 100%;
      border:1px solid #a8ec13;
      margin-right: 0;
  }
  
  .portfolioImg{
      border-radius: 50%;
      width:30%;
      margin:auto;
      margin-right: 20px;
  }
  }