
:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgb(23, 252, 240);
	--c2: rgba(168, 239, 255, 0.1);
}

.container{
  
  padding-top: 56px;
  width: 90%;
  margin: auto;
 
}

.container>div{
  padding-top: 44px;
}

.heading{
    font-size: 36px;
    font-weight: bold;
    padding: 0 15px;
    box-sizing: border-box;
}

.heading:hover{
    
    box-sizing: border-box;
}

.projectWrapper{
    width: 90%;
    margin: auto;
    padding: 5px;
    box-sizing: border-box;
    color: white;
}

/* @import url("https://fonts.googleapis.com/css?family=Raleway:400");

* {
	box-sizing: border-box;
} */

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}
/* 
body {
	font-family: Raleway, sans-serif;
	text-align: center;
	margin: 0;
	padding: 1rem;
	background-color: rgba(10, 12, 18, 1);
	color: white;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
} */
/* 
p {
	margin: 0;
} */


.wrapper {
	/* min-width: min(40rem, 100%); */
    width: 90%;
    margin: auto;
    /* padding: 5px; */
    box-sizing: border-box;
    /* border: 2px solid yellow; */
    /* padding: 20px; */
    margin-bottom: 24px;
}

.box{
  padding: 20px;
  border: 0.35rem solid transparent;

}

.box:hover {
	/* font-size: 3vw; */
	/* margin: max(1rem, 3vw); */
  /* padding: 20px; */
	border: 0.35rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

/* .box:nth-child(2) {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
} */

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

.descWrapper{
    /* background:transparent; */
    /* border:1px solid yellow; */
    width:84%;
    margin:auto;
    padding:20px 16px 20px 16px;
    color:white;
    line-height: 2;
    font-size: 18px;
}

  /* article {
    padding:4em;
  } */
  img {
    width:100%;
    
  }
  .monitor {
    width:90%;
    height: 300px;
    overflow-y:scroll;
    border: solid 1em #444;
    border-radius:.5em;
    margin: auto;
    cursor: pointer;
  }

  .monitor::-webkit-scrollbar {
        width: 15px;
  }
  .monitor::-webkit-scrollbar-thumb {
    background: #666;
  }
  .monitor::-webkit-scrollbar-track {
        background-color: #888;
  }
  /* .stand:before {
    content:"";
    display:block;
    position:relative;
    background: #191919;
    width: 150px;
    height: 50px;
    top:350px;
    left:215px;
  }
  .stand:after {
     content:"";
     display:block;
     position:relative;
     background:#333;
     border-top-left-radius:.5em;
     border-top-right-radius:.5em;
     width: 300px;
     height: 15px;
     top: 50px;
     left: 140px;
  } */

  .projectHeading{
    font-size: 24px;
  }

.techStackWrapper{
  display: flex;
  flex-direction: row;
}

  .techStackTag{
    color: rgba(69,232,252,1);
    background-color:black;
    border: 1px solid rgba(69,232,252,1);
    border-radius: 4px;
    margin-right: 4px;
    /* padding: 2px 4px 2px 4px; */
    font-size: 14px;
    font-weight: bold;
    width: 50%;
  }


  .btnDiv{
    margin-top: 16px;
  }

  .btnStyle {
    border-radius: 4px;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 36%, rgba(36,36,40,1) 51%);
    border:1px solid white;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 6px 10px 6px 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btnStyle span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btnStyle span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btnStyle:hover span {
    padding-right: 25px;
  }
  
  .btnStyle:hover span:after {
    opacity: 1;
    right: 0;
  }

  .btnStyle:hover{
    background: black;
    /* background: linear-gradient(90deg, rgba(51,29,253,1) 0%, rgba(69,232,252,1) 100%); */
  }

  
  h1{
    color:white;
    font-family:"Space mono",monospace;
    font-size:4rem
  }
.statsFlex{
  display:flex;
  justify-content:space-around; 
  /* margin-bottom:24px; */
  margin-bottom: 36px;
}

.statsFlexElement{
 /* background-color:whitesmoke; */
 padding:10px;
 border-radius:10px;
 /* border:10px solid #3b3228; */
 width:42%;
 margin:auto;
 height:170px;
}

  @media all and (max-width : 950px){
    .statsFlex{
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }

    .statsFlexElement{
      width: 70%;
      margin: auto;
      height:180px;
    }

    .container{
      /* border: 1px solid red; */
      margin-top: 64px;
    }



  }

  @media all and (max-width : 430px){

    .container{
      padding-top: 36px;
    }

    .statsFlex{
      display: flex;
      flex-direction: column;
    }

    .statsFlexElement{
      width: 70%;
      margin: auto;
      height:90px;
    }
    .techStackWrapper{
      display: flex;
      flex-direction: row;
      /* border: 2px solid white; */
      /* width: 70%; */
      flex-wrap: wrap;
      gap: 10px;
    }
    .techStackTag{
      color: rgba(69,232,252,1);
      background-color:black;
      border: 1px solid rgba(69,232,252,1);
      border-radius: 4px;
      margin-right: 4px;
      /* padding: 2px 4px 2px 4px; */
      font-size: 10px;
      font-weight: bold;
      width: 40%;
      margin: auto;
    }

    .monitor{
      border: solid 0.5em #444;
    }


    .monitor::-webkit-scrollbar {
      width: 8px;
}

.projectHeading{
  font-size: 16px;
}

.projectHeading+p{
  font-size: 14px;
}

.techStackPara{
  font-size: 12px;
}

.btnDiv{
  display: flex;
  flex-direction: column;
  gap:8px;
}

.btnStyle {
  font-size: 12px;
  padding: 6px 4px 6px 4px;
  width: 100px;
  margin: auto;
}

  }